# Maven
target/

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

#profile-dir
edge-profile/

# Drivers
chromedriver.exe
msedgedriver.exe

# Compiled files
*.class